<h2>Вход</h2>
<form action="/auth/log" method="POST">
    <label for="log">Логин:</label><br>
    <input type="text" id="log" name="log" required>
    <br>
    <label for="pass">Пароль:</label><br>
    <input type="password" id="pass" name="pass" required>
    <br>
    <input type="submit" value="Войти">
</form>