<h2>Новый модуль</h2>
<form method="post">
    <p>Название:<br><input name="name" value="{{edModule.name}}"></p>
    <p><i>Место под теги, не забыть сделать</i></p>
    <p>Описание:<br><input name="info" type="text" value="{{edModule.info}}"></p>
    <input type="submit" value="Создать модуль">
</form>