<h2>Регистрация</h2>
<form action="/auth/reg" method="POST">
    <label for="log">Логин:</label><br>
    <input type="text" id="log" name="log" required>
    <br>
    <label for="pass">Пароль:</label><br>
    <input type="password" id="pass" name="pass" required>
    <br>
    <input type="submit" value="Зарегистрироваться">
</form>