<h1>{{module.name}}</h1>
<p>Теги: {{{ listOfTags module.data.tags }}}</p>
{{>tableOfPlayers}}
<p><b>Описание</b></p>
<p>{{module.info}}</p>
<a href="/module/{{module.id}}/joinModule">Присоединиться</a>