<h1>{{room.name}}</h1>
{{{listOfPosts posts}}}
<form action="/module/sendPost" method="post">
    <!--Эта хуйня небезопасна, не забыть переписать, когда пойму как-->
    <input name="roomId" value="{{room.id}}" hidden>
    {{>textEditor name="text"}}
    <br>
    <input type="submit" value="Отправить">
</form>
